{% extends "::letim.base.html.twig" %}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script type="text/javascript" src="/letim/js/angular-local-storage.js"></script>
    <script type="text/javascript" src="/letim/js/calendar.js"></script>
    <div id="content" ng-app="calendarApp">

        <div class="zagolovok3">Тарифы</div>
        {% for key, item in rate %}
            <div class="plaha">{{ key }}</div>
        <table class="tabl2">
            <tr>
                <th>Время полета</th>
                <th>Цена</th>
                <th>Примечание</th>
            </tr>

            {% for r in item %}
                <tr ng-controller='tarif'>
                    <td><a ng-click="setTypeId({{ r.typeid }});setPlanId({{ r.planid }});setMaxpeople({{ r.maxPeople }});" href="/calendar/page">{{ r.duration }} минуты</a></td>
                    <td><a ng-click="setTypeId({{ r.typeid }});setPlanId({{ r.planid }});setMaxpeople({{ r.maxPeople }});" href="/calendar/page">{{ r.cost }} руб.</a></td>
                    <td><a ng-click="setTypeId({{ r.typeid }});setPlanId({{ r.planid }});setMaxpeople({{ r.maxPeople }});" href="/calendar/page">До {{ r.maxPeople }} человек</a></td>
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
{% endblock %}

